<%- include('includes/header') %>
    <div class="container">
        <div id="end" class="flex-center flex-column">
            <h2 class="userScore">You scored <br><span id="finalScore"></span></h2>
            <a href="/game" class="btn btnAnchor">Play Again</a><br>
            <a href="/" class="btn btnAnchor">Go Home</a>
        </div>
    </div>
    <script src="/end.js"></script>
    <%- include('includes/footer') %>