<!-- Iclude header file here -->
<%- include('includes/header') %>
    </head>

    <body>
        <div class="container">
            <div id="home" class="flex-center flex-column">
                <h1 class="heading"><span class="ten">10</span>Questions</h1>
                <a href="/game" class="btn">Play</a>
            </div>
        </div>

        <!-- Iclude footer file here -->
        <%- include('includes/footer') %>