:root {
  background-color: #fbeaeb;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  color: #ec8b5e;
}
/* UTILITIES */
.container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 70rem;
  margin: 0 auto;
  padding: 2rem;
}

.container > * {
  width: 100%;
}
.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.text-center {
  text-align: center;
}
.hidden {
  display: none;
}

/* BUTTONS */
.btn {
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #de8388;
  background-color: white;
  border-radius: 25px;
  outline: none;
  border: 0;
  box-shadow: 0 0.2rem 1.4rem 0 rgb(250, 173, 137, 0.3);
}
.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.2rem 1.4rem 0 rgb(250, 173, 137, 0.3);
  -webkit-transition: all 900ms ease-in-out;
  transition: all 900ms ease-in-out;
  background-color: #2f3c7e;
  color: #f7ccce;
}
.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  -webkit-transform: none;
  transform: none;
}

.heading {
  font-size: 5rem;
  letter-spacing: -0.5rem;
  color: #de8388;
  margin-bottom: 3rem;
}
.ten {
  color: #2f3c7e;
  letter-spacing: -6px;
}

/* FORM STYLES */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn.btnAnchor {
  margin-bottom: 1rem;
  display: inline-block;
  font-weight: 500;
}
#username {
  width: 20rem;
  border-radius: 25px;
  border: 1px solid #df8388;
  outline: 0;
  padding: 1.2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: 555252;
}
#username::placeholder {
  color: #555252;
}
#finalScore {
  margin-bottom: 2rem;
  font-size: 6rem;
}
